



@media(max-width: 1200px){
  .wrapper{
    width: 100%;
  }
  .about,
  .services,
  .work,
  .ourteam,
  .design,
  .ourwork,
  .what,
  .blog{
    padding: 50px 0 70px;
  }
  .wrapper__title{
  font-size: 24px;
  }
  .wrapper__descr{
   font-size: 30px;
  }
  .wrapper__devider{
   width: 150px;
  }
  .about__text{
   font-size: 16px;
  }
/*<--------------------Header,Welcome--------------------->*/
  .nav__link{
    font-size: 14px;
    width: 100px;
  }
  .welcome__text{
    font-size: 56px;
  }
  h1{
    font-size: 110px;
    max-width: 920px;
    margin: 0 auto;
    margin-bottom: 75px;
  }
  .welcome__descr{
    width: 140px;
  }
  .button{
    width: 340px;
    height: 65px;
    margin-bottom: 90px;
    font-size: 18px;
  }
  .linecolor::before{
    content:"";
    clear: both;
    display: block;
    position: absolute;
    width: 70px;
    height: 4px;
    background: #F38281;
  }
  .line{
  width: 230px;
  }
  .linecolor::before{
    width: 64px;
  }
  .block_text{
   font-size: 16px;
    padding: 30px 0 25px 0;
  }
  .welcome__block{
    column-gap: 23px;
  }
  /*<--------------------About--------------------->*/
 
   /*<--------------------futures--------------------->*/
   
   .number{
    font-size: 55px;
  }
  .lorem{
    font-size: 21px;
  }

   /*<--------------------services--------------------->*/
   .services__block{
    column-gap: 20px;
    row-gap: 72px;
   }
   .services_title{
    font-size: 20px;
   }
   .services_text{
    font-size: 16px;
   }

   /*<--------------------design--------------------->*/
   .section__design{
    padding: 50px 0 20px;
   }
  
/*<--------------------work--------------------->*/
  .work__pic{
    height: 450px;
  }
   .work__block{
   column-gap: 20px;
  }
    details{
    height: 78px;
  }
    summary{
    font-size: 20px;
  }
  .accordion__icon{
    width: 30px;
    height: 30px;
    margin: 10px 40px 10px 20px;
  }
    .summary_text{
    font-size: 14px;
  } 

  

   /*<--------------------reviews--------------------->*/
   .reviews{
    padding: 25px 0 10px;
    height: 190px;
   }
   .reviews__block{
    row-gap: 18px;
   }
   .reviews__text{
    font-size: 20px;
   }
   .reviews__name{
    font-size: 25px;
   }
   .reviews__name::before{
    width: 60px;
   }
   .reviews__icon{
    width: 135px;
    height: 135px;
   }

 /*<--------------------ourteam--------------------->*/
 .photo{
  height: 390px;
 }
 .hover_block{
  height: inherit;
 }
.people__name{
  font-size: 20px;
}
.prof{
  font-size: 16px;
}
.people__name,
.prof{
  padding: 15px;
}
.people{
  gap: 20px;
}
.icon svg{
  width: 35px;
  height: 35px;
}

 /*<--------------------figures--------------------->*/
 .figures__block{
  gap: 90px;
 }


/*-------------------what------------------*/
.what__title{
  font-size: 20px;
}
.what__prof,
.what__text{
  font-size: 16px;
}
.what__descr{
  width: 57px;
}
.what__icon{
  width: 100px;
  height: 100px;
}


 /*-------------------block------------------*/
 .blog__title{
  font-size: 20px;
 }
 .blog__text,
 .month{
  font-size: 16px;
 }
.date{
  font-size: 30px;
}
 /*<--------------------map--------------------->*/
 .map__title{
  font-size: 30px;
  margin-bottom: 40px;
 }
 .map__descr{
  width: 160px;
 }
  /*<--------------------footer--------------------->*/
  .MoGo__text{
    font-size: 16px;
  }
  .followers__numb,
  .foll{
    font-size: 30px;
  }
  .MoGo__followers,
  .foll{
    font-size: 16px;
  }
  .MoGo__icons{
    gap: 5px;
  }
  .inputform,
  .button__input{
    font-size: 16px;
  }
  .blogs__title,
.instagram__title{
  font-size: 20px;
}
.logs__text1{
  font-size: 16px;
}
}










@media(max-width: 1024px){
  .about,
  .services,
  .work,
  .design,
  .ourteam,
  .ourwork,
  .what,
  .blog{
    padding: 40px 0 60px;
  }
  /*<--------------------Header,Welcome--------------------->*/
  .header{
    margin-bottom: 92px;
  }
  .nav__link{
    font-size: 13px;
    width: 93px;
  }
  .basket, .loupe{
    padding: 0 15px; 
  }
  .welcome__text{
    font-size: 48px;
  }
  h1{
    max-width: 793px;
    font-size: 96px;
    margin: 0 auto;
    margin-bottom: 60px;
  }
  .button{
    width: 318px;
    height: 54px;
    margin-bottom: 79px;
    font-size: 18px;
  }
  .line{
  width: 215px;
  }
  .linecolor::before{
  width: 60px;
  }
  .block_text{
    font-size: 14px;
     padding: 25px 0 20px 0;
   }
   .welcome__block{
    column-gap: 18px;
  }
  /*<--------------------About--------------------->*/
  

  /*<--------------------futures--------------------->*/
  
  .number{
    font-size: 48px;
  }
  .lorem{
    font-size: 18px;
  }

  /*<--------------------services--------------------->*/
  .services_title{
    font-size: 18px;
    margin-bottom: 15px;
   }
   .services_text{
    font-size: 16px;
   }
   .services_icon{
    width: 60px;
    height: 60px;
    background-position: center;
   }
/*<--------------------design--------------------->*/

 /*<--------------------work--------------------->*/
 .work__pic{
  height: 410px;
}
details{
  margin-bottom: 5px;
}
.cursor{
  width: 20px;
  height: 20px;
}
summary{
  font-size: 18px;
}



 /*<--------------------reviews--------------------->*/
 .reviews{
  padding: 25px 0 10px;
 }
 .reviews__block{
  row-gap: 10px;
 }
 .reviews__text{
  font-size: 18px;
 }
 .reviews__name{
  font-size: 25px ;
 }
 .reviews__name::before{
 width: 48px;
}
  .reviews__icon{
  width: 110px;
  height: 110px;
  }
  .reviews__photo {
    width: 130px;
    height: 130px;
    background-size: contain;
  }
 /*<------------------ourteam--------------------->*/
 .people__name{
  font-size: 18px;
}
.photo{
  height: 340px;
 }
 .prof{
  font-size: 14px;
}

 /*<--------------------figures--------------------->*/
 .figures__block{
  gap: 80px;
 }
 /*-------------------ourwork------------------*/
 .ourwork-title{
  font-size: 20px;
 }
 .ourwork-text{
  font-size: 16px;
 }
 .ourwork-icon{
  margin-bottom: 45px;
 }
 
 /*-------------------what------------------*/
 .what__title{
  font-size: 18px;
  margin-bottom: 10px;
}
.what__prof,
.what__text{
  font-size: 14px;
  margin-bottom: 5px;
}
.what__descr{
  width: 47px;
  margin-bottom: 30px;
}
.what__icon{
  width: 88px;
  height: 88px;
}
.what__say{
  row-gap: 30px;
  column-gap: 10px;
}

 /*-------------------block------------------*/
 .blog__title{
  font-size: 18px;
  margin-bottom: 10px;
 }
 .blog__text,
 .month{
  font-size: 14px;
 }
 .form{
  width: 67px;
  height: 67px;
 }
 .date{
  font-size: 24px;
}
.blog__text,
.blog__photo{
  margin-bottom: 20px;
}
.number-icon{
  font-size: 16px;
}
 /*<--------------------map--------------------->*/
 .map__title{
  font-size: 24px;
  margin-bottom: 30px;
 }
 .map__descr{
  width: 148px;
 }
 .map__icon{
  margin-bottom: 15px;
 }

   /*<--------------------footer--------------------->*/
   .MoGo__text{
    font-size: 14px;
    margin-bottom: 30px;
  }
  .MoGo__logo{
    width: 110px;
    height: 30px;
    margin-bottom: 30px;
  }
  .followers__numb{
    font-size: 24px;
  }
  .MoGo__followers,
  .foll{
    font-size: 14px;
  }
  .MoGo__sub_text{
    font-size: 12px;
  }
  .MoGo__icons svg{
     width: 20px;
     height: 20px;
  }
  .inputform,
  .button__input{
    font-size: 16px;
  }
  .blogs__block{
    row-gap: 15px;
  }
  .blogs__title,
  .instagram__title{
    font-size: 18px;
    margin-bottom: 35px;
  }
  .logs__text2{
    font-size: 12px;
  }
  .logs__text1{
    font-size: 14px;
    margin-bottom: 10px;
  }
  .instagram__block{
    margin-bottom: 40px;
  }
  
}









@media(max-width: 956px){
  .wrapper__title{
    margin-bottom: 45px;
  }
  .wrapper__descr{
    font-size: 30px;
    margin-bottom: 40px;
   }
   .wrapper__devider{
    margin-bottom: 35px;
   }
   .about__text{
    font-size: 14px;
    margin-bottom: 70px ;
   }
  /*<--------------------Header,Welcome--------------------->*/
  .header{
    margin-bottom: 72px;
  }
  .nav__link{
    width: 85px;
  }
  .line{
    width: 170px;
  }
  .block_text{
    font-size: 14px;
    padding: 18px 0 14px 0;
  }
/*<--------------------About--------------------->*/
  .about__pic{
    gap: 10px;
  }

  /*<--------------------futures--------------------->*/
 

 
/*<--------------------services--------------------->*/
.services__block{
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3,1fr);
}
.services__item{
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.services_icon{
  margin: 0 auto;
}

/*<--------------------design--------------------->*/
 


/*<--------------------work--------------------->*/
 
/*<--------------------reviews--------------------->*/
 .reviews__text{
  font-size: 14px;
 }
 .reviews__name{
  font-size: 18px;
 }
 .reviews__photo {
  width: 110px;
  height: 110px;
 }
/*<--------------------figures--------------------->*/
.figures__block{
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0;
  row-gap: 20px;
  padding: 20px 0;
}
.fig__item1,
.fig__item2,
.fig__item4,
.fig__item5{
 width: 100%;
}
.fig__item3,
.fig__item6{
  grid-column: 1/span2;
  margin: 0 auto;
}

/*-------------------ourwork------------------*/
.ourwork__pic{
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

 /*-------------------block------------------*/
 .blog__icon1,
 .blog__icon2{
   width: 28px;
   height: 28px; 
 }
 .number-icon{
  font-size: 14px;
  margin-right: 20px;
}
/*<--------------------footer--------------------->*/
.footer__blog{
  grid-template-columns: repeat(2, 1fr);
  row-gap: 30px;
}
.instagram{
  grid-column: 1/span2;
  width: 50%;
  margin: 0 auto;
}
.instagram__title{
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}
.allphoto{
  display: block;
  margin: 0 auto;
}
.instagram__block{
  margin-bottom: 25px;
}
}







@media(max-width:768px){
/*<--------------------Header,Welcome--------------------->*/
  .nav{
    display: none;
 }
  .welcome__logo{
    position: relative;
    z-index: 10;
  }
  .burger-wrapper{
    display: block;
    right: 7px;
    bottom: 10px;
  }
/*<--------------------About--------------------->*/
.about__pic{
  flex-wrap: wrap;
  justify-content: center;
}

 /*<--------------------services--------------------->*/
.services__block{
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(6,1fr);
}
.allphoto{
  font-size: 12px;
}

 /*<--------------------work--------------------->*/
   details{
    height: 65px;
  }

  .welcome__block{
    column-gap: 16px;
  }
  .line{
    width: 130px;
    }
    .linecolor::before{
      width: 50px;
    }


    .services__block{
      column-gap: 5px;
      row-gap: 58px;
    }
/*<--------------------reviews--------------------->*/
    .reviews__icon{
      display: none;
    }
    .reviews__photo{
      display: none;
    }
    .arrow{
      display: none;
    }
    .reviews__block{
      grid-template-columns: repeat(1, 1fr);
     grid-template-rows: repeat(3, 1fr);
    }
    .reviews__text{
      grid-column: 1/span1;
    }
  .dots{
    height: 10px;
    width: 130px;
    grid-row: 3;
    margin: 0 auto;
    display: block;
}

 /*<------------------ourteam--------------------->*/
 .people{
  grid-template-columns: repeat(1,1fr);
 }
 .photo{
  width: 50%;
  margin: 0 auto;
  height: 280px;
 }
 .hover_block{
  opacity: 0;
 }
 .hover__icon{
  opacity: 100;
 }


  }










@media(max-width:706px){
      /*<--------------------futures--------------------->*/
      .futures__block{
        flex-wrap: wrap;
      }
      .futures__item{
        padding: 40px 0;
        width: 50%;
       border: none;
       border-bottom: 1px solid #fff;
      }
      .futures__item:last-child{
        width: 100%;
      }
/*--------work-----------*/ 
.work__block{
  grid-template-columns: repeat(1,1fr);
} 
.work__pic {
  height: 290px;
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
}
/*<--------------------reviews--------------------->*/
.reviews__photo {
  width: 110px;
  height: 110px;
}
/*-------------------ourwork------------------*/
.ourwork__pic{
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
}
.ourwork3{
  grid-column: 2;
  grid-row-start: 1;
  grid-row-end: 4;
}
.ourwork5{
grid-row-start: 2;
}
.ourwork7{
  grid-row-start: 3;
}
.ourwork6{
  grid-column: 1/span2;
}
.ourwork2{
  grid-row-start: 4;
  grid-column: 2;
}
.ourwork4{
  grid-row-start: 4;
}
.ourwork-title{
  font-size: 20px;
 }
 .ourwork-text{
  font-size: 16px;
 }
 .ourwork-icon{
  margin-bottom: 35px;
  width: 35px;
  height: 35px;
 }
 /*-------------------what------------------*/
 .what__say,
 .what__info{
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin: 0 auto;
 }
 .what__say{
  row-gap: 0;
 }
 .what__icon{
  grid-row: 1;
 }
 .what__block{
  grid-row: 2;
  grid-column: 1/span2;
 }
 .what__icon,
 .what__block >*{
  margin: 0 auto 10px;
  text-align: center;
 }
  /*-------------------block------------------*/
  .blog__block{
    grid-template-columns: repeat(1, 1fr);
    row-gap: 30px;
  }
  .blog__photo{
    width: 60%;
    height: 210px;
    margin: 0 auto 20px;
  }
  .inputform,
  .button__input{
    font-size: 14px;
  }
  

 

}

/*MOBILE*/

@media(max-width: 586px){
  .wrapper__devider{
    width: 150px;
   }
  .header{
    margin-bottom: 38px;
  }
  .welcome__text{
    font-size: 46px;
  }
  h1{
    font-size: 55px;
    max-width: 320px;
    margin-bottom: 55px;
  }
  .welcome__descr{
    width: 134px;
    margin-bottom: 53px;
  }
  .button{
    width: 285px;
    height: 54px;
    margin-bottom: 40px;
  }
  .line{
  width: 100px;
  }
  .linecolor::before{
    width: 100px;
  }
  .block_text{
  display: none;
  }
  .welcome__block{
    column-gap: 13px;
    margin-bottom: 42px;

  }
    /*<--------------------About--------------------->*/
    .about__text{
      font-size: 14px;
      margin-bottom: 45px;
  }
   .wrapper__devider{
      width: 148px;
      margin-bottom: 22px;
    }

    .wrapper__title{
      font-size: 26px;
      margin-bottom: 47px;
    }
    .wrapper__descr{
      font-size: 28px;
      margin-bottom: 40px;
    }
    .footer__blog{
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(3, 1fr);
    }
    .MoGo{
      grid-row: 1;
    }
    .blogs{
      grid-row: 2;
    }
    .instagram{
      grid-row: 3;
    }
    .MoGo__logo{
      margin: 0 auto 25px;
    }
    .MoGo__text,
    .MoGo__followers{
      text-align: center;
    }
    .input{
      flex-wrap: wrap;
    }
    .button__input{
      width: 100%;
    }
    .inputform{
      width: 100%;
      margin-bottom: 20px;
    }
}


@media(max-width: 480px){
  .line{
    width: 60px;
  }
  .linecolor::before{
    width: 60px;
  }
  .welcome__block{
   column-gap: 8px;
  }

  .reviews{
    padding: 10px 0 0;
   }
   .wrapper__title{
    font-size: 24px;
  }
  .wrapper__descr{
    font-size: 24px;
  }
}


@media(max-width: 320px){
  .welcome__text{
    font-size: 36px;
  }
  h1{
    font-size: 48px;
    max-width: 320px;
  }
  .line{
    width: 57px;
    }
  .linecolor::before{
      width: 57px;
  }
    .about__text{
      margin-bottom: 35px;
  }
   
}